<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RestaurantEntities" connectionString="metadata=res://*/Models.Entities.RestaurantModel.csdl|res://*/Models.Entities.RestaurantModel.ssdl|res://*/Models.Entities.RestaurantModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PIOTR\SQLEXPRESS;initial catalog=RestaurantProject;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RestaurantSystem_v0Entities" connectionString="metadata=res://*/Models.Entities.RestaurantEntities.csdl|res://*/Models.Entities.RestaurantEntities.ssdl|res://*/Models.Entities.RestaurantEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PIOTR\SQLEXPRESS;initial catalog=RestaurantSystem_v0;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RestaurantSystemEntities" connectionString="metadata=res://*/Models.Entities.RestaurantSystemModel.csdl|res://*/Models.Entities.RestaurantSystemModel.ssdl|res://*/Models.Entities.RestaurantSystemModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PIOTR\SQLEXPRESS;initial catalog=RestaurantSystem_v0;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>