<connectionStrings>
	<clear/>
<add name="RestaurantSystemEntities" connectionString="metadata=res://*/Models.Entities.RestaurantSystemEntities.csdl|res://*/Models.Entities.RestaurantSystemEntities.ssdl|res://*/Models.Entities.RestaurantSystemEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Piotr\sqlexpress;initial catalog=RestaurantSystem_v1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>